<a href="https://colab.research.google.com/github/0116bruce/samurai-terakoya/blob/main/excel_automation02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#概要
#あなたは、キノコード株式会社の業務自動化担当です。
#営業部でExcel業務をPythonにより効率化をしていると噂を聞いた人事部長から相談を受けました。
#話によると、人事部でも売上データをExcelのツールを使って毎回手集計をしているようです。
#同じ操作を毎回行なっており、それで時間を使うのは勿体無いと感じています。
#属人化しなければいけないと思い、ptyhonを使って自動化できないかという内容であなたへ相談がきました。
#コードを用いて自動化し課題を解決できるようにしましょう。
import pandas as pd
import os
import glob
from pathlib import Path

In [2]:
# 問題１　各支店ごとのシートを１枚のデータで出力しよう
#取り組み方
#『by_affiliation.xlsx』を開きましょう。
# 社員ごとの'1月売上''2月売上''3月売上'の合計値を入力しましょう、そして"第4四半期売上"とい新しいカラムを作成しましょう。
# このデータをExcelに上書き保存しましょう。
# 複数シートにまたがっているデータフレームを、一つのデータフレームに統合しましょう。
# "第4四半期売上"で降順にソートしましょう。重複がある場合を想定し、'1月売上'と第二引数に含めましょう。
# データフレームを"第4四半期各社員売上データ"というファイル名でExcelファイルを出力しましょう。
#引数でindexはFalseに指定しておきましょう。

df01 = pd.read_excel('/content/by_affiliation.xlsx')
df01["第4四半期売上"] = df01['1月売上'] + df01['2月売上'] + df01['3月売上']
df01

    社員番号      氏名 性別 所属支店   1月売上    2月売上   3月売上  備考欄  第4四半期売上
0   a001   辻上 明佳  女   東京  56000   30000   8000  NaN    94000
1   a003  石崎 和香菜  女   東京  70000   63000  10000  NaN   143000
2   a012  辻下 万美子  女   東京   4000  144000  15000  NaN   163000
3   a020   本廣 友広  男   東京  28000   18000  90000  NaN   136000
4   a021   堀場 克巳  男   東京  20000  180000  64000  NaN   264000
5   a026   三角 静江  女   東京  72000   18000  48000  NaN   138000
6   a027   本永 悠希  女   東京  70000   24000  15000  NaN   109000
7   a033  栄田 江身子  女   東京  50000   18000  70000  NaN   138000
8   a037  片尾 愛佑美  女   東京  16000   10000  60000  NaN    86000
9   a042    池 祐矢  男   東京  42000    6000  42000  NaN    90000
10  a044   一箭 姫乃  女   東京   6000   28000  10000  NaN    44000
11  a048   蒲生 利彦  男   東京  24000   90000  21000  NaN   135000
12  a051    井上 真  男   東京  21000  100000  16000  NaN   137000
13  a052    井上 真  女   東京  64000    8000  10000  NaN    82000

In [3]:
df_01 = pd.read_excel('/content/by_affiliation.xlsx', sheet_name = None)
df_01

{'東京':     社員番号      氏名 性別 所属支店   1月売上    2月売上   3月売上  備考欄
 0   a001   辻上 明佳  女   東京  56000   30000   8000  NaN
 1   a003  石崎 和香菜  女   東京  70000   63000  10000  NaN
 2   a012  辻下 万美子  女   東京   4000  144000  15000  NaN
 3   a020   本廣 友広  男   東京  28000   18000  90000  NaN
 4   a021   堀場 克巳  男   東京  20000  180000  64000  NaN
 5   a026   三角 静江  女   東京  72000   18000  48000  NaN
 6   a027   本永 悠希  女   東京  70000   24000  15000  NaN
 7   a033  栄田 江身子  女   東京  50000   18000  70000  NaN
 8   a037  片尾 愛佑美  女   東京  16000   10000  60000  NaN
 9   a042    池 祐矢  男   東京  42000    6000  42000  NaN
 10  a044   一箭 姫乃  女   東京   6000   28000  10000  NaN
 11  a048   蒲生 利彦  男   東京  24000   90000  21000  NaN
 12  a051    井上 真  男   東京  21000  100000  16000  NaN
 13  a052    井上 真  女   東京  64000    8000  10000  NaN,
 '横浜':    社員番号      氏名 性別 所属支店   1月売上    2月売上    3月売上  備考欄
 0  a002   押元 大成  男   横浜  60000  144000   70000  NaN
 1  a008   水戸 美砂  女   横浜  40000    4000  180000  NaN
 2  a009   小花 賢悟  男   横浜  27000   56000   49000  NaN
 3  a016  芳澤 佳乃子  女   横浜  42000   27000   36000  NaN
 4  a024  八島 セツ子  女   横浜  21000  162000   60000  NaN
 5  a028   新開 優紀  女   横浜  70000   63000    3000  NaN
 6  a030   井熊 徹郎  男   横浜   4000   60000   54000  NaN
 7  a035   泰地 生恵  女   横浜  56000   42000   63000  NaN
 8  a036    西尾 謙  男   横浜  16000   72000   72000  NaN
 9  a041    積 萌恵  女   横浜  12000   42000   35000  NaN,
 '大阪':     社員番号      氏名 性別 所属支店   1月売上    2月売上   3月売上  備考欄
 0   a004   斉 あきの  女   大阪  70000    6000  50000  NaN
 1   a011   山藤 善雄  男   大阪  15000    7000  54000  NaN
 2   a014   植野 寛美  女   大阪  54000   54000  42000  NaN
 3   a017   周藤 愛乃  女   大阪  20000   70000  49000  NaN
 4   a018   尾下 勝広  男   大阪  24000   32000   9000  NaN
 5   a019   河路 文武  男   大阪  35000    8000  24000  NaN
 6   a023   河野 利香  女   大阪  27000   20000  15000  NaN
 7   a029  矢野川 昌寛  男   大阪  35000   72000  72000  NaN
 8   a031  八木沢 和貴  男   大阪  10000    7000  72000  NaN
 9   a034   堂園 泰典  男   大阪  21000   35000  24000  NaN
 10  a039   吉川 紘未  男   大阪  63000   28000  36000  NaN
 11  a040    楯 行雄  男   大阪  60000    8000  18000  NaN
 12  a049   清沢 澄枝  女   大阪  32000  144000  56000  NaN,
 '札幌':    社員番号      氏名 性別 所属支店    1月売上    2月売上    3月売上  備考欄
 0  a005   寺下 春樹  男   札幌   14000   28000   35000  NaN
 1  a007   関藤 梨花  女   札幌  126000   35000       0  NaN
 2  a022   安楽 遼子  女   札幌  144000  100000  126000  NaN
 3  a025  伊多波 愛良  女   札幌   16000   40000   24000  NaN
 4  a038   千葉 二郎  男   札幌   15000   28000    7000  NaN
 5  a045   豊竹 悦世  男   札幌   18000   42000   28000  NaN
 6  a047   上瀬 由和  男   札幌   15000   48000    8000  NaN
 7  a050   佐久田 里  女   札幌   24000   32000   16000  NaN,
 '福岡':    社員番号     氏名 性別 所属支店   1月売上   2月売上    3月売上  備考欄
 0  a006  八尾 洋志  男   福岡  56000   3000   48000  NaN
 1  a010  鍵谷 一磨  男   福岡   7000  48000  126000  NaN
 2  a013  宮瀬 尚紀  男   福岡  18000  35000   54000  NaN
 3  a015  新森 雅紀  男   福岡   4000  18000   12000  NaN
 4  a032  三角 和正  男   福岡   9000  36000    9000  NaN
 5  a043   今井 悠  男   福岡  90000  56000   72000  NaN
 6  a046   庄 佑典  男   福岡  56000  28000   28000  NaN}

In [4]:
print(df_01.keys())

dict_keys(['東京', '横浜', '大阪', '札幌', '福岡'])

In [5]:
sheet_names = df_01.keys()

In [6]:
df_tokyo = df_01['東京'].copy()

In [7]:
df_tokyo["第4四半期売上"] = df_tokyo['1月売上'] + df_tokyo['2月売上'] + df_tokyo['3月売上']
df_tokyo["第4四半期売上"]

0      94000
1     143000
2     163000
3     136000
4     264000
5     138000
6     109000
7     138000
8      86000
9      90000
10     44000
11    135000
12    137000
13     82000
Name: 第4四半期売上, dtype: int64

In [8]:
for i in sheet_names:
  df_01[i]["第4四半期売上"] = df_01[i]['1月売上'] + df_01[i]['2月売上'] + df_01[i]['3月売上']
df_01

{'東京':     社員番号      氏名 性別 所属支店   1月売上    2月売上   3月売上  備考欄  第4四半期売上
 0   a001   辻上 明佳  女   東京  56000   30000   8000  NaN    94000
 1   a003  石崎 和香菜  女   東京  70000   63000  10000  NaN   143000
 2   a012  辻下 万美子  女   東京   4000  144000  15000  NaN   163000
 3   a020   本廣 友広  男   東京  28000   18000  90000  NaN   136000
 4   a021   堀場 克巳  男   東京  20000  180000  64000  NaN   264000
 5   a026   三角 静江  女   東京  72000   18000  48000  NaN   138000
 6   a027   本永 悠希  女   東京  70000   24000  15000  NaN   109000
 7   a033  栄田 江身子  女   東京  50000   18000  70000  NaN   138000
 8   a037  片尾 愛佑美  女   東京  16000   10000  60000  NaN    86000
 9   a042    池 祐矢  男   東京  42000    6000  42000  NaN    90000
 10  a044   一箭 姫乃  女   東京   6000   28000  10000  NaN    44000
 11  a048   蒲生 利彦  男   東京  24000   90000  21000  NaN   135000
 12  a051    井上 真  男   東京  21000  100000  16000  NaN   137000
 13  a052    井上 真  女   東京  64000    8000  10000  NaN    82000,
 '横浜':    社員番号      氏名 性別 所属支店   1月売上    2月売上    3月売上  備考欄  第4四半期売上
 0  a002   押元 大成  男   横浜  60000  144000   70000  NaN   274000
 1  a008   水戸 美砂  女   横浜  40000    4000  180000  NaN   224000
 2  a009   小花 賢悟  男   横浜  27000   56000   49000  NaN   132000
 3  a016  芳澤 佳乃子  女   横浜  42000   27000   36000  NaN   105000
 4  a024  八島 セツ子  女   横浜  21000  162000   60000  NaN   243000
 5  a028   新開 優紀  女   横浜  70000   63000    3000  NaN   136000
 6  a030   井熊 徹郎  男   横浜   4000   60000   54000  NaN   118000
 7  a035   泰地 生恵  女   横浜  56000   42000   63000  NaN   161000
 8  a036    西尾 謙  男   横浜  16000   72000   72000  NaN   160000
 9  a041    積 萌恵  女   横浜  12000   42000   35000  NaN    89000,
 '大阪':     社員番号      氏名 性別 所属支店   1月売上    2月売上   3月売上  備考欄  第4四半期売上
 0   a004   斉 あきの  女   大阪  70000    6000  50000  NaN   126000
 1   a011   山藤 善雄  男   大阪  15000    7000  54000  NaN    76000
 2   a014   植野 寛美  女   大阪  54000   54000  42000  NaN   150000
 3   a017   周藤 愛乃  女   大阪  20000   70000  49000  NaN   139000
 4   a018   尾下 勝広  男   大阪  24000   32000   9000  NaN    65000
 5   a019   河路 文武  男   大阪  35000    8000  24000  NaN    67000
 6   a023   河野 利香  女   大阪  27000   20000  15000  NaN    62000
 7   a029  矢野川 昌寛  男   大阪  35000   72000  72000  NaN   179000
 8   a031  八木沢 和貴  男   大阪  10000    7000  72000  NaN    89000
 9   a034   堂園 泰典  男   大阪  21000   35000  24000  NaN    80000
 10  a039   吉川 紘未  男   大阪  63000   28000  36000  NaN   127000
 11  a040    楯 行雄  男   大阪  60000    8000  18000  NaN    86000
 12  a049   清沢 澄枝  女   大阪  32000  144000  56000  NaN   232000,
 '札幌':    社員番号      氏名 性別 所属支店    1月売上    2月売上    3月売上  備考欄  第4四半期売上
 0  a005   寺下 春樹  男   札幌   14000   28000   35000  NaN    77000
 1  a007   関藤 梨花  女   札幌  126000   35000       0  NaN   161000
 2  a022   安楽 遼子  女   札幌  144000  100000  126000  NaN   370000
 3  a025  伊多波 愛良  女   札幌   16000   40000   24000  NaN    80000
 4  a038   千葉 二郎  男   札幌   15000   28000    7000  NaN    50000
 5  a045   豊竹 悦世  男   札幌   18000   42000   28000  NaN    88000
 6  a047   上瀬 由和  男   札幌   15000   48000    8000  NaN    71000
 7  a050   佐久田 里  女   札幌   24000   32000   16000  NaN    72000,
 '福岡':    社員番号     氏名 性別 所属支店   1月売上   2月売上    3月売上  備考欄  第4四半期売上
 0  a006  八尾 洋志  男   福岡  56000   3000   48000  NaN   107000
 1  a010  鍵谷 一磨  男   福岡   7000  48000  126000  NaN   181000
 2  a013  宮瀬 尚紀  男   福岡  18000  35000   54000  NaN   107000
 3  a015  新森 雅紀  男   福岡   4000  18000   12000  NaN    34000
 4  a032  三角 和正  男   福岡   9000  36000    9000  NaN    54000
 5  a043   今井 悠  男   福岡  90000  56000   72000  NaN   218000
 6  a046   庄 佑典  男   福岡  56000  28000   28000  NaN   112000}

In [11]:
with pd.ExcelWriter('/content/by_affiliation1.xlsx') as writer:
  df_01['東京'].to_excel(writer, sheet_name = '東京', index = False)
  df_01['大阪'].to_excel(writer, sheet_name = '大阪', index = False)
  df_01['横浜'].to_excel(writer, sheet_name = '横浜', index = False)
  df_01['福岡'].to_excel(writer, sheet_name = '福岡', index = False)
  df_01['札幌'].to_excel(writer, sheet_name = '札幌', index = False)

In [12]:
# 複数シートにまたがっているデータフレームを、一つのデータフレームに統合しましょう。
df = pd.DataFrame(columns = ['社員番号', '氏名', '性別', '所属支店', '1月売上', '2月売上', '3月売上', '備考欄',
                             '第4四半期売上'])
for i in sheet_names:
  df = pd.concat([df, df_01[i]])
df

    社員番号      氏名 性別 所属支店    1月売上    2月売上    3月売上  備考欄 第4四半期売上
0   a001   辻上 明佳  女   東京   56000   30000    8000  NaN   94000
1   a003  石崎 和香菜  女   東京   70000   63000   10000  NaN  143000
2   a012  辻下 万美子  女   東京    4000  144000   15000  NaN  163000
3   a020   本廣 友広  男   東京   28000   18000   90000  NaN  136000
4   a021   堀場 克巳  男   東京   20000  180000   64000  NaN  264000
5   a026   三角 静江  女   東京   72000   18000   48000  NaN  138000
6   a027   本永 悠希  女   東京   70000   24000   15000  NaN  109000
7   a033  栄田 江身子  女   東京   50000   18000   70000  NaN  138000
8   a037  片尾 愛佑美  女   東京   16000   10000   60000  NaN   86000
9   a042    池 祐矢  男   東京   42000    6000   42000  NaN   90000
10  a044   一箭 姫乃  女   東京    6000   28000   10000  NaN   44000
11  a048   蒲生 利彦  男   東京   24000   90000   21000  NaN  135000
12  a051    井上 真  男   東京   21000  100000   16000  NaN  137000
13  a052    井上 真  女   東京   64000    8000   10000  NaN   82000
0   a002   押元 大成  男   横浜   60000  144000   70000  NaN  274000
1   a008   水戸 美砂  女   横浜   40000    4000  180000  NaN  224000
2   a009   小花 賢悟  男   横浜   27000   56000   49000  NaN  132000
3   a016  芳澤 佳乃子  女   横浜   42000   27000   36000  NaN  105000
4   a024  八島 セツ子  女   横浜   21000  162000   60000  NaN  243000
5   a028   新開 優紀  女   横浜   70000   63000    3000  NaN  136000
6   a030   井熊 徹郎  男   横浜    4000   60000   54000  NaN  118000
7   a035   泰地 生恵  女   横浜   56000   42000   63000  NaN  161000
8   a036    西尾 謙  男   横浜   16000   72000   72000  NaN  160000
9   a041    積 萌恵  女   横浜   12000   42000   35000  NaN   89000
0   a004   斉 あきの  女   大阪   70000    6000   50000  NaN  126000
1   a011   山藤 善雄  男   大阪   15000    7000   54000  NaN   76000
2   a014   植野 寛美  女   大阪   54000   54000   42000  NaN  150000
3   a017   周藤 愛乃  女   大阪   20000   70000   49000  NaN  139000
4   a018   尾下 勝広  男   大阪   24000   32000    9000  NaN   65000
5   a019   河路 文武  男   大阪   35000    8000   24000  NaN   67000
6   a023   河野 利香  女   大阪   27000   20000   15000  NaN   62000
7   a029  矢野川 昌寛  男   大阪   35000   72000   72000  NaN  179000
8   a031  八木沢 和貴  男   大阪   10000    7000   72000  NaN   89000
9   a034   堂園 泰典  男   大阪   21000   35000   24000  NaN   80000
10  a039   吉川 紘未  男   大阪   63000   28000   36000  NaN  127000
11  a040    楯 行雄  男   大阪   60000    8000   18000  NaN   86000
12  a049   清沢 澄枝  女   大阪   32000  144000   56000  NaN  232000
0   a005   寺下 春樹  男   札幌   14000   28000   35000  NaN   77000
1   a007   関藤 梨花  女   札幌  126000   35000       0  NaN  161000
2   a022   安楽 遼子  女   札幌  144000  100000  126000  NaN  370000
3   a025  伊多波 愛良  女   札幌   16000   40000   24000  NaN   80000
4   a038   千葉 二郎  男   札幌   15000   28000    7000  NaN   50000
5   a045   豊竹 悦世  男   札幌   18000   42000   28000  NaN   88000
6   a047   上瀬 由和  男   札幌   15000   48000    8000  NaN   71000
7   a050   佐久田 里  女   札幌   24000   32000   16000  NaN   72000
0   a006   八尾 洋志  男   福岡   56000    3000   48000  NaN  107000
1   a010   鍵谷 一磨  男   福岡    7000   48000  126000  NaN  181000
2   a013   宮瀬 尚紀  男   福岡   18000   35000   54000  NaN  107000
3   a015   新森 雅紀  男   福岡    4000   18000   12000  NaN   34000
4   a032   三角 和正  男   福岡    9000   36000    9000  NaN   54000
5   a043    今井 悠  男   福岡   90000   56000   72000  NaN  218000
6   a046    庄 佑典  男   福岡   56000   28000   28000  NaN  112000

In [13]:
# indexを付け替え、昇順に並べ替える
df.reset_index(drop = True, inplace = True)
df

    社員番号      氏名 性別 所属支店    1月売上    2月売上    3月売上  備考欄 第4四半期売上
0   a001   辻上 明佳  女   東京   56000   30000    8000  NaN   94000
1   a003  石崎 和香菜  女   東京   70000   63000   10000  NaN  143000
2   a012  辻下 万美子  女   東京    4000  144000   15000  NaN  163000
3   a020   本廣 友広  男   東京   28000   18000   90000  NaN  136000
4   a021   堀場 克巳  男   東京   20000  180000   64000  NaN  264000
5   a026   三角 静江  女   東京   72000   18000   48000  NaN  138000
6   a027   本永 悠希  女   東京   70000   24000   15000  NaN  109000
7   a033  栄田 江身子  女   東京   50000   18000   70000  NaN  138000
8   a037  片尾 愛佑美  女   東京   16000   10000   60000  NaN   86000
9   a042    池 祐矢  男   東京   42000    6000   42000  NaN   90000
10  a044   一箭 姫乃  女   東京    6000   28000   10000  NaN   44000
11  a048   蒲生 利彦  男   東京   24000   90000   21000  NaN  135000
12  a051    井上 真  男   東京   21000  100000   16000  NaN  137000
13  a052    井上 真  女   東京   64000    8000   10000  NaN   82000
14  a002   押元 大成  男   横浜   60000  144000   70000  NaN  274000
15  a008   水戸 美砂  女   横浜   40000    4000  180000  NaN  224000
16  a009   小花 賢悟  男   横浜   27000   56000   49000  NaN  132000
17  a016  芳澤 佳乃子  女   横浜   42000   27000   36000  NaN  105000
18  a024  八島 セツ子  女   横浜   21000  162000   60000  NaN  243000
19  a028   新開 優紀  女   横浜   70000   63000    3000  NaN  136000
20  a030   井熊 徹郎  男   横浜    4000   60000   54000  NaN  118000
21  a035   泰地 生恵  女   横浜   56000   42000   63000  NaN  161000
22  a036    西尾 謙  男   横浜   16000   72000   72000  NaN  160000
23  a041    積 萌恵  女   横浜   12000   42000   35000  NaN   89000
24  a004   斉 あきの  女   大阪   70000    6000   50000  NaN  126000
25  a011   山藤 善雄  男   大阪   15000    7000   54000  NaN   76000
26  a014   植野 寛美  女   大阪   54000   54000   42000  NaN  150000
27  a017   周藤 愛乃  女   大阪   20000   70000   49000  NaN  139000
28  a018   尾下 勝広  男   大阪   24000   32000    9000  NaN   65000
29  a019   河路 文武  男   大阪   35000    8000   24000  NaN   67000
30  a023   河野 利香  女   大阪   27000   20000   15000  NaN   62000
31  a029  矢野川 昌寛  男   大阪   35000   72000   72000  NaN  179000
32  a031  八木沢 和貴  男   大阪   10000    7000   72000  NaN   89000
33  a034   堂園 泰典  男   大阪   21000   35000   24000  NaN   80000
34  a039   吉川 紘未  男   大阪   63000   28000   36000  NaN  127000
35  a040    楯 行雄  男   大阪   60000    8000   18000  NaN   86000
36  a049   清沢 澄枝  女   大阪   32000  144000   56000  NaN  232000
37  a005   寺下 春樹  男   札幌   14000   28000   35000  NaN   77000
38  a007   関藤 梨花  女   札幌  126000   35000       0  NaN  161000
39  a022   安楽 遼子  女   札幌  144000  100000  126000  NaN  370000
40  a025  伊多波 愛良  女   札幌   16000   40000   24000  NaN   80000
41  a038   千葉 二郎  男   札幌   15000   28000    7000  NaN   50000
42  a045   豊竹 悦世  男   札幌   18000   42000   28000  NaN   88000
43  a047   上瀬 由和  男   札幌   15000   48000    8000  NaN   71000
44  a050   佐久田 里  女   札幌   24000   32000   16000  NaN   72000
45  a006   八尾 洋志  男   福岡   56000    3000   48000  NaN  107000
46  a010   鍵谷 一磨  男   福岡    7000   48000  126000  NaN  181000
47  a013   宮瀬 尚紀  男   福岡   18000   35000   54000  NaN  107000
48  a015   新森 雅紀  男   福岡    4000   18000   12000  NaN   34000
49  a032   三角 和正  男   福岡    9000   36000    9000  NaN   54000
50  a043    今井 悠  男   福岡   90000   56000   72000  NaN  218000
51  a046    庄 佑典  男   福岡   56000   28000   28000  NaN  112000

In [14]:
# "第4四半期売上"で降順にソートしましょう。重複がある場合を想定し、'1月売上'と第二引数に含めましょう。
df.sort_values(by = ['第4四半期売上', '1月売上'], ascending = False)
df.head(20)

    社員番号      氏名 性別 所属支店   1月売上    2月売上    3月売上  備考欄 第4四半期売上
0   a001   辻上 明佳  女   東京  56000   30000    8000  NaN   94000
1   a003  石崎 和香菜  女   東京  70000   63000   10000  NaN  143000
2   a012  辻下 万美子  女   東京   4000  144000   15000  NaN  163000
3   a020   本廣 友広  男   東京  28000   18000   90000  NaN  136000
4   a021   堀場 克巳  男   東京  20000  180000   64000  NaN  264000
5   a026   三角 静江  女   東京  72000   18000   48000  NaN  138000
6   a027   本永 悠希  女   東京  70000   24000   15000  NaN  109000
7   a033  栄田 江身子  女   東京  50000   18000   70000  NaN  138000
8   a037  片尾 愛佑美  女   東京  16000   10000   60000  NaN   86000
9   a042    池 祐矢  男   東京  42000    6000   42000  NaN   90000
10  a044   一箭 姫乃  女   東京   6000   28000   10000  NaN   44000
11  a048   蒲生 利彦  男   東京  24000   90000   21000  NaN  135000
12  a051    井上 真  男   東京  21000  100000   16000  NaN  137000
13  a052    井上 真  女   東京  64000    8000   10000  NaN   82000
14  a002   押元 大成  男   横浜  60000  144000   70000  NaN  274000
15  a008   水戸 美砂  女   横浜  40000    4000  180000  NaN  224000
16  a009   小花 賢悟  男   横浜  27000   56000   49000  NaN  132000
17  a016  芳澤 佳乃子  女   横浜  42000   27000   36000  NaN  105000
18  a024  八島 セツ子  女   横浜  21000  162000   60000  NaN  243000
19  a028   新開 優紀  女   横浜  70000   63000    3000  NaN  136000

In [19]:
# データフレームを"第4四半期各社員売上データ"というファイル名でExcelファイルを出力しましょう。
# 引数でindexはFalseに指定しておきましょう。
df.to_excel('/content/第4四半期各社員売上データ.xlsx', index = False)

In [ ]:
# 問題２　ファイルの集計自動化コードを作成しよう
# globモジュールを使い'branch_offices'フォルダにある、拡張子がxlsxであるものを全て取得しましょう。
# pandasのread_excelメソッドを用い、'branch_offices'フォルダにある全てのxlsxファイルを読み込みましょう。
# そして、一つのデータフレームに統合しましょう。
# 3月で降順に並び替えましょう。
# applyや関数を用いて、上位5名の備考欄に賞与ありと記述しましょう。
# データフレームを"3月降順社員別売上データ"というファイル名でExcelファイルを出力しましょう。引数でindexはFalseに指定しておきましょう。
# osモジュールのrenameメソッドを使い、'branch_offices'フォルダにある全てのファイルに対して、"処理済み"という文言をファイル名に付け加えましょう。

In [21]:
# globモジュールを使い'branch_offices'フォルダにある、拡張子がxlsxであるものを全て取得しましょう。
glob.glob('/content/sample_data/branch_office/*.xlsx')

['/content/sample_data/branch_office/sapporo.xlsx',
 '/content/sample_data/branch_office/osaka.xlsx',
 '/content/sample_data/branch_office/tokyo.xlsx',
 '/content/sample_data/branch_office/fukuoka.xlsx',
 '/content/sample_data/branch_office/yokohama.xlsx']

In [22]:
# pandasのread_excelメソッドを用い、'branch_offices'フォルダにある全てのxlsxファイルを読み込みましょう。
# そして、一つのデータフレームに統合しましょう。
df_02 = pd.DataFrame()
for i in glob.glob('/content/sample_data/branch_office/*.xlsx'):
  df = pd.read_excel(i)
  df_02 = pd.concat([df_02, df])
df_02.head(10)

   社員番号      氏名 性別 所属支店    1月売上    2月売上    3月売上  備考欄
0  a005   寺下 春樹  男   札幌   14000   28000   35000  NaN
1  a007   関藤 梨花  女   札幌  126000   35000       0  NaN
2  a022   安楽 遼子  女   札幌  144000  100000  126000  NaN
3  a025  伊多波 愛良  女   札幌   16000   40000   24000  NaN
4  a038   千葉 二郎  男   札幌   15000   28000    7000  NaN
5  a045   豊竹 悦世  男   札幌   18000   42000   28000  NaN
6  a047   上瀬 由和  男   札幌   15000   48000    8000  NaN
7  a050   佐久田 里  女   札幌   24000   32000   16000  NaN
0  a004   斉 あきの  女   大阪   70000    6000   50000  NaN
1  a011   山藤 善雄  男   大阪   15000    7000   54000  NaN

In [23]:
# 3月で降順に並び替えましょう。
df_02.sort_values(by = '3月売上', ascending = False, inplace = True)
df_02.reset_index(drop = True, inplace = True)
df_02.head(10)

   社員番号      氏名 性別 所属支店    1月売上    2月売上    3月売上  備考欄
0  a008   水戸 美砂  女   横浜   40000    4000  180000  NaN
1  a022   安楽 遼子  女   札幌  144000  100000  126000  NaN
2  a010   鍵谷 一磨  男   福岡    7000   48000  126000  NaN
3  a020   本廣 友広  男   東京   28000   18000   90000  NaN
4  a036    西尾 謙  男   横浜   16000   72000   72000  NaN
5  a043    今井 悠  男   福岡   90000   56000   72000  NaN
6  a031  八木沢 和貴  男   大阪   10000    7000   72000  NaN
7  a029  矢野川 昌寛  男   大阪   35000   72000   72000  NaN
8  a033  栄田 江身子  女   東京   50000   18000   70000  NaN
9  a002   押元 大成  男   横浜   60000  144000   70000  NaN

In [24]:
# applyや関数を用いて、上位5名の備考欄に賞与ありと記述しましょう。
df_02['備考欄'] = df_02['備考欄'].astype(str)

In [25]:
bonuses = df_02[:5]
no_bonuses = df_02[5:]

In [26]:
bonuses['備考欄'] = bonuses['備考欄'].apply(lambda x: (x + '賞与あり').replace('nan', ""))
bonuses

<ipython-input-26-d4cd6eb6edaf>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bonuses['備考欄'] = bonuses['備考欄'].apply(lambda x: (x + '賞与あり').replace('nan', ""))

   社員番号     氏名 性別 所属支店    1月売上    2月売上    3月売上   備考欄
0  a008  水戸 美砂  女   横浜   40000    4000  180000  賞与あり
1  a022  安楽 遼子  女   札幌  144000  100000  126000  賞与あり
2  a010  鍵谷 一磨  男   福岡    7000   48000  126000  賞与あり
3  a020  本廣 友広  男   東京   28000   18000   90000  賞与あり
4  a036   西尾 謙  男   横浜   16000   72000   72000  賞与あり

In [27]:
# pd.DataFrameのconcatメソッドでbonusesとno_bonusesを統合
df_02_01 = pd.concat([bonuses, no_bonuses])
df_02_01.head(10)

   社員番号      氏名 性別 所属支店    1月売上    2月売上    3月売上   備考欄
0  a008   水戸 美砂  女   横浜   40000    4000  180000  賞与あり
1  a022   安楽 遼子  女   札幌  144000  100000  126000  賞与あり
2  a010   鍵谷 一磨  男   福岡    7000   48000  126000  賞与あり
3  a020   本廣 友広  男   東京   28000   18000   90000  賞与あり
4  a036    西尾 謙  男   横浜   16000   72000   72000  賞与あり
5  a043    今井 悠  男   福岡   90000   56000   72000   nan
6  a031  八木沢 和貴  男   大阪   10000    7000   72000   nan
7  a029  矢野川 昌寛  男   大阪   35000   72000   72000   nan
8  a033  栄田 江身子  女   東京   50000   18000   70000   nan
9  a002   押元 大成  男   横浜   60000  144000   70000   nan

In [28]:
# assignメソッドを使用してbonus欄を追加する
bonuses = bonuses.assign(bonus = lambda x: '賞与あり')
bonuses

   社員番号     氏名 性別 所属支店    1月売上    2月売上    3月売上   備考欄 bonus
0  a008  水戸 美砂  女   横浜   40000    4000  180000  賞与あり  賞与あり
1  a022  安楽 遼子  女   札幌  144000  100000  126000  賞与あり  賞与あり
2  a010  鍵谷 一磨  男   福岡    7000   48000  126000  賞与あり  賞与あり
3  a020  本廣 友広  男   東京   28000   18000   90000  賞与あり  賞与あり
4  a036   西尾 謙  男   横浜   16000   72000   72000  賞与あり  賞与あり

In [29]:
# 備考欄をdropする
bonuses.drop('備考欄', axis = 1, inplace = True)
bonuses

   社員番号     氏名 性別 所属支店    1月売上    2月売上    3月売上 bonus
0  a008  水戸 美砂  女   横浜   40000    4000  180000  賞与あり
1  a022  安楽 遼子  女   札幌  144000  100000  126000  賞与あり
2  a010  鍵谷 一磨  男   福岡    7000   48000  126000  賞与あり
3  a020  本廣 友広  男   東京   28000   18000   90000  賞与あり
4  a036   西尾 謙  男   横浜   16000   72000   72000  賞与あり

In [30]:
# bonusを賞与欄に置き換える
bonuses.rename({'bonus' : '賞与欄'}, axis = 1, inplace = True)
bonuses

   社員番号     氏名 性別 所属支店    1月売上    2月売上    3月売上   賞与欄
0  a008  水戸 美砂  女   横浜   40000    4000  180000  賞与あり
1  a022  安楽 遼子  女   札幌  144000  100000  126000  賞与あり
2  a010  鍵谷 一磨  男   福岡    7000   48000  126000  賞与あり
3  a020  本廣 友広  男   東京   28000   18000   90000  賞与あり
4  a036   西尾 謙  男   横浜   16000   72000   72000  賞与あり

In [31]:
df_02_02 = pd.concat([bonuses, no_bonuses])
df_02_02.head(10)

   社員番号      氏名 性別 所属支店    1月売上    2月売上    3月売上   賞与欄  備考欄
0  a008   水戸 美砂  女   横浜   40000    4000  180000  賞与あり  NaN
1  a022   安楽 遼子  女   札幌  144000  100000  126000  賞与あり  NaN
2  a010   鍵谷 一磨  男   福岡    7000   48000  126000  賞与あり  NaN
3  a020   本廣 友広  男   東京   28000   18000   90000  賞与あり  NaN
4  a036    西尾 謙  男   横浜   16000   72000   72000  賞与あり  NaN
5  a043    今井 悠  男   福岡   90000   56000   72000   NaN  nan
6  a031  八木沢 和貴  男   大阪   10000    7000   72000   NaN  nan
7  a029  矢野川 昌寛  男   大阪   35000   72000   72000   NaN  nan
8  a033  栄田 江身子  女   東京   50000   18000   70000   NaN  nan
9  a002   押元 大成  男   横浜   60000  144000   70000   NaN  nan

In [32]:
# itertuples使用でDataFrameを一行づつタプル型で取り出せる
for row in df_02.itertuples():
  if row[7] >= 72000:
    index_num = row[0]
    df_02.loc[index_num, '備考欄'] = '賞与有り'
df_02.head(10)

   社員番号      氏名 性別 所属支店    1月売上    2月売上    3月売上   備考欄
0  a008   水戸 美砂  女   横浜   40000    4000  180000  賞与有り
1  a022   安楽 遼子  女   札幌  144000  100000  126000  賞与有り
2  a010   鍵谷 一磨  男   福岡    7000   48000  126000  賞与有り
3  a020   本廣 友広  男   東京   28000   18000   90000  賞与有り
4  a036    西尾 謙  男   横浜   16000   72000   72000  賞与有り
5  a043    今井 悠  男   福岡   90000   56000   72000  賞与有り
6  a031  八木沢 和貴  男   大阪   10000    7000   72000  賞与有り
7  a029  矢野川 昌寛  男   大阪   35000   72000   72000  賞与有り
8  a033  栄田 江身子  女   東京   50000   18000   70000   nan
9  a002   押元 大成  男   横浜   60000  144000   70000   nan

In [33]:
# データフレームを"3月降順社員別売上データ"というファイル名でExcelファイル出力。
# 引数でindexはFalseに指定
df_02.to_excel('/content/sample_data/branch_office/3月降順社員別売上データ.xlsx', index = False)

In [70]:
# osモジュールのrenameメソッドを使い、'branch_offices'フォルダにある全てのファイルに対して、"処理済み"という文言をファイル名に付け加えましょう
glob.glob('/content/sample_data/branch_office/*.xlsx')

['/content/sample_data/branch_office/sapporo.xlsx',
 '/content/sample_data/branch_office/osaka.xlsx',
 '/content/sample_data/branch_office/tokyo.xlsx',
 '/content/sample_data/branch_office/fukuoka.xlsx']

In [37]:
import os

In [69]:
for i in glob.glob('/content/sample_data/branch_office/*.xlsx'):
  print(i, "/content/sample_data/branch_office/" + i[15:])
 # os.rename(i, '/content/sample_data/branch_office/処理済み' + i[15:])

/content/sample_data/branch_office/sapporo.xlsx /content/sample_data/branch_office/_data/branch_office/sapporo.xlsx
/content/sample_data/branch_office/osaka.xlsx /content/sample_data/branch_office/_data/branch_office/osaka.xlsx
/content/sample_data/branch_office/tokyo.xlsx /content/sample_data/branch_office/_data/branch_office/tokyo.xlsx
/content/sample_data/branch_office/fukuoka.xlsx /content/sample_data/branch_office/_data/branch_office/fukuoka.xlsx

In [68]:
os.rename('/content/sample_data/branch_office/*.xlsx', '/content/sample_data/branch_office/fukuoka.xlsx')
# os.rename('/content/sample_data/branch_office/処理済み.xlsx', '/content/sample_data/branch_office/*.xlsx')

In [66]:
print(i)

/content/sample_data/branch_office/処理済み.xlsx

In [71]:
# 問題３　mergeを使ってデータを結合しよう
#『sales_data.xlsx』と『第4四半期各社員売上データ.xlsx』を開きましょう。
#『第4四半期各社員売上データ.xlsx』のカラム名'社員番号'を'社員ID'にrenameしましょう。
df_sales = pd.read_excel('/content/sales_data.xlsx')
df_sales.head(10)

   社員ID    1月売上    2月売上    3月売上  備考欄
0  a001   56000   30000    8000  NaN
1  a002   60000  144000   70000  NaN
2  a003   70000   63000   10000  NaN
3  a004   70000    6000   50000  NaN
4  a005   14000   28000   35000  NaN
5  a006   56000    3000   48000  NaN
6  a007  126000   35000       0  NaN
7  a008   40000    4000  180000  NaN
8  a009   27000   56000   49000  NaN
9  a010    7000   48000  126000  NaN

In [72]:
df_sales1 = pd.read_excel('/content/第4四半期各社員売上データ.xlsx')
df_sales1.head(10)

   社員番号      氏名 性別 所属支店   1月売上    2月売上   3月売上  備考欄  第4四半期売上
0  a001   辻上 明佳  女   東京  56000   30000   8000  NaN    94000
1  a003  石崎 和香菜  女   東京  70000   63000  10000  NaN   143000
2  a012  辻下 万美子  女   東京   4000  144000  15000  NaN   163000
3  a020   本廣 友広  男   東京  28000   18000  90000  NaN   136000
4  a021   堀場 克巳  男   東京  20000  180000  64000  NaN   264000
5  a026   三角 静江  女   東京  72000   18000  48000  NaN   138000
6  a027   本永 悠希  女   東京  70000   24000  15000  NaN   109000
7  a033  栄田 江身子  女   東京  50000   18000  70000  NaN   138000
8  a037  片尾 愛佑美  女   東京  16000   10000  60000  NaN    86000
9  a042    池 祐矢  男   東京  42000    6000  42000  NaN    90000

In [73]:
# 二つのデータフレームを'社員ID'でmergeしましょう。
df_sales1.rename(columns = {'社員番号' : '社員ID'}, inplace = True)
df_sales1.head(10)

   社員ID      氏名 性別 所属支店   1月売上    2月売上   3月売上  備考欄  第4四半期売上
0  a001   辻上 明佳  女   東京  56000   30000   8000  NaN    94000
1  a003  石崎 和香菜  女   東京  70000   63000  10000  NaN   143000
2  a012  辻下 万美子  女   東京   4000  144000  15000  NaN   163000
3  a020   本廣 友広  男   東京  28000   18000  90000  NaN   136000
4  a021   堀場 克巳  男   東京  20000  180000  64000  NaN   264000
5  a026   三角 静江  女   東京  72000   18000  48000  NaN   138000
6  a027   本永 悠希  女   東京  70000   24000  15000  NaN   109000
7  a033  栄田 江身子  女   東京  50000   18000  70000  NaN   138000
8  a037  片尾 愛佑美  女   東京  16000   10000  60000  NaN    86000
9  a042    池 祐矢  男   東京  42000    6000  42000  NaN    90000

In [78]:
submit_df = pd.merge(df_sales, df_sales1, how = 'left', on = '社員ID', suffixes = ['', '_重複'])
submit_df.head(10)

,社員ID,1月売上,2月売上,3月売上,備考欄,氏名,性別,所属支店,1月売上_重複,2月売上_重複,3月売上_重複,備考欄_重複,第4四半期売上
0,a001,56000,30000,8000,NaN,辻上 明佳,女,東京,56000,30000,8000,NaN,94000
1,a002,60000,144000,70000,NaN,押元 大成,男,横浜,60000,144000,70000,NaN,274000
2,a003,70000,63000,10000,NaN,石崎 和香菜,女,東京,70000,63000,10000,NaN,143000
3,a004,70000,6000,50000,NaN,斉 あきの,女,大阪,70000,6000,50000,NaN,126000
4,a005,14000,28000,35000,NaN,寺下 春樹,男,札幌,14000,28000,35000,NaN,77000
5,a006,56000,3000,48000,NaN,八尾 洋志,男,福岡,56000,3000,48000,NaN,107000
6,a007,126000,35000,0,NaN,関藤 梨花,女,札幌,126000,35000,0,NaN,161000
7,a008,40000,4000,180000,NaN,水戸 美砂,女,横浜,40000,4000,180000,NaN,224000
8,a009,27000,56000,49000,NaN,小花 賢悟,男,横浜,27000,56000,49000,NaN,132000
9,a010,7000,48000,126000,NaN,鍵谷 一磨,男,福岡,7000,48000,126000,NaN,181000

In [79]:
# mergeしたデータから余分な列を削除 列名は['社員ID', '氏名','1月売上', '2月売上', '3月売上', '備考欄']だけにし、reindex
submit_df.drop(columns = ['性別',	'所属支店',	'1月売上_重複',	'2月売上_重複', '3月売上_重複',	'備考欄_重複'], inplace = True)
submit_df.reindex(columns = ['社員ID', '氏名','1月売上', '2月売上', '3月売上', '備考欄', '第4四半期売上'])

    社員ID      氏名    1月売上    2月売上    3月売上  備考欄  第4四半期売上
0   a001   辻上 明佳   56000   30000    8000  NaN    94000
1   a002   押元 大成   60000  144000   70000  NaN   274000
2   a003  石崎 和香菜   70000   63000   10000  NaN   143000
3   a004   斉 あきの   70000    6000   50000  NaN   126000
4   a005   寺下 春樹   14000   28000   35000  NaN    77000
5   a006   八尾 洋志   56000    3000   48000  NaN   107000
6   a007   関藤 梨花  126000   35000       0  NaN   161000
7   a008   水戸 美砂   40000    4000  180000  NaN   224000
8   a009   小花 賢悟   27000   56000   49000  NaN   132000
9   a010   鍵谷 一磨    7000   48000  126000  NaN   181000
10  a011   山藤 善雄   15000    7000   54000  NaN    76000
11  a012  辻下 万美子    4000  144000   15000  NaN   163000
12  a013   宮瀬 尚紀   18000   35000   54000  NaN   107000
13  a014   植野 寛美   54000   54000   42000  NaN   150000
14  a015   新森 雅紀    4000   18000   12000  NaN    34000
15  a016  芳澤 佳乃子   42000   27000   36000  NaN   105000
16  a017   周藤 愛乃   20000   70000   49000  NaN   139000
17  a018   尾下 勝広   24000   32000    9000  NaN    65000
18  a019   河路 文武   35000    8000   24000  NaN    67000
19  a020   本廣 友広   28000   18000   90000  NaN   136000
20  a021   堀場 克巳   20000  180000   64000  NaN   264000
21  a022   安楽 遼子  144000  100000  126000  NaN   370000
22  a023   河野 利香   27000   20000   15000  NaN    62000
23  a024  八島 セツ子   21000  162000   60000  NaN   243000
24  a025  伊多波 愛良   16000   40000   24000  NaN    80000
25  a026   三角 静江   72000   18000   48000  NaN   138000
26  a027   本永 悠希   70000   24000   15000  NaN   109000
27  a028   新開 優紀   70000   63000    3000  NaN   136000
28  a029  矢野川 昌寛   35000   72000   72000  NaN   179000
29  a030   井熊 徹郎    4000   60000   54000  NaN   118000
30  a031  八木沢 和貴   10000    7000   72000  NaN    89000
31  a032   三角 和正    9000   36000    9000  NaN    54000
32  a033  栄田 江身子   50000   18000   70000  NaN   138000
33  a034   堂園 泰典   21000   35000   24000  NaN    80000
34  a035   泰地 生恵   56000   42000   63000  NaN   161000
35  a036    西尾 謙   16000   72000   72000  NaN   160000
36  a037  片尾 愛佑美   16000   10000   60000  NaN    86000
37  a038   千葉 二郎   15000   28000    7000  NaN    50000
38  a039   吉川 紘未   63000   28000   36000  NaN   127000
39  a040    楯 行雄   60000    8000   18000  NaN    86000
40  a041    積 萌恵   12000   42000   35000  NaN    89000
41  a042    池 祐矢   42000    6000   42000  NaN    90000
42  a043    今井 悠   90000   56000   72000  NaN   218000
43  a044   一箭 姫乃    6000   28000   10000  NaN    44000
44  a045   豊竹 悦世   18000   42000   28000  NaN    88000
45  a046    庄 佑典   56000   28000   28000  NaN   112000
46  a047   上瀬 由和   15000   48000    8000  NaN    71000
47  a048   蒲生 利彦   24000   90000   21000  NaN   135000
48  a049   清沢 澄枝   32000  144000   56000  NaN   232000
49  a050   佐久田 里   24000   32000   16000  NaN    72000
50  a051    井上 真   21000  100000   16000  NaN   137000
51  a052    井上 真   64000    8000   10000  NaN    82000

In [80]:
# データフレームを"氏名入り売上データ"というExcelファイルを出力しましょう。引数でindexはFalseに指定しておきましょう。
submit_df.to_excel('/content/氏名入り売上データ.xlsx', index = False)

In [85]:
# osモジュールのmkdirメソッドで新しいフォルダを作成し、'3月報告ファイル'というファイル名にしましょう。
import os
os.mkdir('/content/3月報告ファイル')

In [87]:
# shutilモジュールのmoveメソッドで『氏名入り売上データ.xlsx』ファイルを'3月報告ファイル'フォルダに移動
import shutil
shutil.move('/content/氏名入り売上データ.xlsx', '/content/3月報告ファイル')

'/content/3月報告ファイル/氏名入り売上データ.xlsx'

In [88]:
# osモジュールのremoveメソッドを使い『sales_data.xlsx』を削除しましょう。
os.remove('/content/sales_data.xlsx')